img{
height: 100px;
width: 75px;
}
td{
    width: 25vw;
}
body{
    width: 100vw;
    height: 100vh;
}
.form{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:whitesmoke;
}

.box{
    width:20vw;
    padding-top: 20vh;
    padding-right: 20vh;
    padding-left: 20vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
   width: 30vw;

}
ul{
    text-decoration: none;
    list-style: none;
    
}
.head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 100vw;
    background-color: #4d4646;
    color: #f5eaea;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
thead{
    background-color: #7fcd91;
    color: white;
}

.navigation{
    background-color: #e89da2;
}
.add{
    background-color: #1b262c;
}